:root {
  --primary-color: rgba(147, 86, 220, 1);
  --primary-color__hover: rgba(147, 86, 220, .2);
  --secondary-color: rgba(255, 121, 218, 1);
  --tertiary-color: #99E2D0;
  --tertiary-contrast: #408675;
  --main-font: 'Roboto';
  --logo-font: 'Shrikhand';
  --white-bg: #fff;
  --med-gray-bg: rgb(230, 228, 228);
  --dark-gray-bg: rgb(59, 59, 59);
  --light-gray-bg: rgb(253, 251, 251);
  --dark-contrast: #000;
  --light-gray-contrast: rgb(119, 119, 119);
  --light-gray-contrast: rgb(85, 85, 85);
  --light-contrast: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 300px;
  width: 100%;
  margin: auto;
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__title {
  font-size: 6vw;
  margin-bottom: 25px;
}

.container {
  padding: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fas {
  margin-right: 7px;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__logo {
  width: 100%;
  background: var(--white-bg);
  height: 4rem;
  margin-top: 1.5rem;
  -webkit-box-shadow: 0px 2px 7px -1px rgba(128, 128, 128, 0.38);
  box-shadow: 0px 2px 7px -1px rgba(128, 128, 128, 0.38);
}

.header__location {
  color: var(--dark-gray-contrast);
  width: 100%;
  padding: 20px 15px;
  background: var(--med-gray-bg);
  z-index: -1;
}

.header__info {
  width: 100%;
  background: var(--light-gray-bg);
  padding: 35px 45px;
}

.header__info p {
  font-size: 1.3rem;
  margin-bottom: 25px;
  font-weight: 300;
}

.header__info button {
  background-color: var(--secondary-color);
  margin-bottom: 25px;
  border-radius: 3rem;
  font-size: 1rem;
  padding: 15px 25px;
  color: var(--light-contrast);
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border: none;
}

.instruction {
  margin-bottom: 40px;
  margin-top: 20px;
}

.instruction h2 {
  margin: 10px 0;
}

.instruction ul {
  position: relative;
}

.instruction li {
  background-color: var(--light-gray-bg);
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  -webkit-box-shadow: 0px 4px 14px -2px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 4px 14px -2px rgba(0, 0, 0, 0.38);
}

.instruction li:hover {
  background: var(--primary-color__hover);
  -webkit-transition: all 4ms;
  transition: all 4ms;
}

.instruction li:hover .fas {
  color: var(--primary-color);
}

.instruction li .item__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: var(--light-contrast);
  position: absolute;
  left: -15px;
}

.instruction li .fas {
  margin: 0 15px 0 30px;
  font-size: 1.4rem;
}

.restaurants {
  margin-bottom: 40px;
  background: var(--light-gray-bg);
  padding-top: 30px;
}

.restaurants .grid {
  background-color: var(--white-bg);
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.restaurants .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 1rem;
  position: relative;
}

.restaurants .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 3ms;
  transition: all 3ms;
}

.restaurants .card__header {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.restaurants .card__header img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .card__badge {
  position: absolute;
  background-color: var(--tertiary-color);
  padding: 10px 20px;
  text-transform: capitalize;
  top: 10px;
  right: 10px;
  font-weight: 600;
  color: var(--tertiary-contrast);
}

.restaurants .card__footer {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .card__footer p {
  margin-top: 7px;
  font-size: 1.2rem;
  font-weight: 300;
}

.restaurants .card__footer span {
  font-size: 2rem;
}

.restaurants .card__footer span:hover {
  background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background: var(--dark-gray-bg);
  width: 100%;
  color: white;
}

.footer__logo {
  font-family: var(--logo-font), "Courier New", Courier, monospace;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.footer li {
  margin-bottom: 10px;
  font-size: 1rem;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
