$primary-color: rgba(147, 86, 220, 1);
$primary-color__hover: rgba(147, 86, 220, .2);
$secondary-color: rgba(255, 121, 218, 1);
$tertiary-color: #99E2D0;
$tertiary-contrast: #408675;
$dark-gray-contrast: rgb(59, 59, 59);
$main-font: 'Roboto';
$logo-font: 'Shrikhand';
$white-bg: #fff;
$med-gray-bg: rgb(230, 228, 228);
$dark-gray-bg: rgb(59, 59, 59);
$light-gray-bg: rgb(253, 251, 251);
$dark-contrast: #000;
$light-gray-contrast: rgb(119, 119, 119);
$light-gray-contrast: rgb(85, 85, 85);
$light-contrast: #fff;
$mobile: 800px